<%- include('partials/header') %>
<h1>Full Restaurants Directory</h1>
<table>
  <thead>
    <tr>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-2">Phone Number</th>
      <th class="col-sm-2">Address</th>
      <th class="col-sm-2">Cuisine</th>
      <th class="col-sm-2">Rating</th>
      <%- if (user) { %>
        <th class="col-sm-2">Edit</th>
        <th class="col-sm-2">Delete</th>
      <%- } %>
    </tr>
  </thead>
  <tbody>
    <%- if (user) { %>
      <tr><td><a href="/new">Add New Restaurant</a></td></tr>
    <%- } %>
    <% restaurants.forEach(function(restaurant){ %>
      <tr>
        <td class="col-sm-2">
          <%= restaurant.name %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.phone %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.address %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.cuisine %>
        </td>
        <td class="col-sm-2">
          <% for(var i=0; i < restaurant.rating; i++) { %>
            &#10026;
            <% } %>
        </td>
        <%- if (user) { %>
          <td class="col-sm-2"><a href="/<%= restaurant._id %>">Edit</a></td>
          <td class="col-sm-2"><a href="/delete/<%= restaurant._id %>" class="confirmation">Delete</a></td>
        <%- } %>
      </tr>
    <% }); %>
    <%- if (user) { %>
      <tr><td><a href="/new">Add New Restaurant</a></td></tr>
    <%- } %>
  </tbody>
</table>
<%- include('partials/footer') %>
