<%- include('partials/header') %>
<h1>Full Restaurants Directory</h1>
<table class="table table-hover">
  <thead class="thead-inverse">
    <% if (user) { %>
      <tr><td><a href="/restaurants/new">Add New Restaurant</a></td></tr>
    <% } %>
    <tr>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-2">Phone Number</th>
      <th class="col-sm-2">Address</th>
      <th class="col-sm-2">Cuisine</th>
      <th class="col-sm-2">Rating</th>
      <% if (user) { %>
        <th class="col-sm-2">Edit</th>
        <th class="col-sm-2">Delete</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(function(restaurant){ %>
      <tr>
        <td class="col-sm-2">
          <%= restaurant.name %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.phone %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.address %>
        </td>
        <td class="col-sm-2">
          <%= restaurant.cuisine %>
        </td>
        <td class="col-sm-2">
          <% for(var i=0; i < restaurant.rating; i++) { %>
            &#10026;
            <% } %>
        </td>
        <% if (user) { %>
          <td class="col-sm-2"><a href="/restaurants/<%= restaurant._id %>">Edit</a></td>
          <td class="col-sm-2"><a href="/restaurants/delete/<%= restaurant._id %>" class="confirmation">Delete</a></td>
        <% } %>
      </tr>
    <% }); %>
    <% if (user) { %>
      <tr><td><a href="/restaurants/new">Add New Restaurant</a></td></tr>
    <% } %>
  </tbody>
</table>
<%- include('partials/footer') %>
